html{
font : normal normal normal 20px/1.5 Times, "Times New Roman", Georgia, serif;
}
h1, h2{
  font : small-caps bold;
}
figcaption{
  font : small-caps bold 15px/1.5;
}
q{
  font : italic;
  font-family : cursive;
}
footer p{
  font : 50%;
}



body{
  width : 100%;
  max-width : 1000px;
  padding : 5%;
  margin: 5%;
}
.main-section-figure img{
  width : 10%;
  height : 10%;
  border-radius : 10%;
}
.figure{
  width : 75%;
  height : 75%;
}
iframe{
  width : 75%;
  padding : 5%;
  border : 1rem solid rgb(71, 49, 0);
}
section{
  background-color: hsla(56, 100%, 50%, 1);
}


header, footer{
  text-align : center;
  color : black;
  border : 1rem solid rgb(255, 238, 0);
  background-image: linear-gradient(white 20%, yellow 80%) !important;
}
.main{
  text-align : center;
  padding : 50%;
}
#bio{
  text-align : left;
}
.img p{
  padding : 5%;
}
.figure{
  margin-top : 10%;
  margin-bottom : 10%;
  padding : 5%;
}
blockquote q{
  padding : 5%;
}
blockquote{
  border : 0.5rem solid rgb(71, 49, 0);
  box-shadow: 10px 10px 8px black;
}


#absolute-path-image img{
  width : 75%;
  height : 75%;
  border : 1rem solid rgb(0, 0, 255);
  border-radius : 10%;
  
}
#absolute-path-image figcaption{
  color: rgb(0, 0, 255);
  
}
#absolute-path-image{
  background: hsla(0, 100%, 100%, 1);
}
#relative-path-image img{
  width : 75%;
  height : 75%;
  border : 1rem solid rgb(71, 49, 0);
  border-radius : 10%;
  
}
#relative-path-image figcaption{
  color : rgb(71, 49, 0);
  
}
#relative-path-image{
  background: hsla(0, 100%, 100%, 1);
}