html{
font : normal normal normal 20px/1.5 Times, "Times New Roman", Georgia, serif;
}
h1, h2{
  font : small-caps bold;
}
figcaption{
  font : small-caps bold 15px/1.5;
}
q{
  font : italic;
  font-family : cursive;
}
footer p{
  font : 50%;
}



body{
  width : 100%;
  max-width : 1200px;
  padding : 0.25rem;
  margin: auto;
}
.main-section-figure img{
  width : 1rem;
  height : 1rem;
  border-radius : 1rem;
}
.figure{
  width : 1rem;
  height : 1rem;
}
iframe{
  width : 75%;
  padding : 5%;
  border : 1rem solid rgb(71, 49, 0);
}
section{
  background-color: hsla(56, 100%, 50%, 1);
}



header, footer{
  text-align : center;
  color : black;
  border : 1rem solid rgb(255, 238, 0);
  background-image: linear-gradient(white 20%, yellow 80%) !important;
}
.main{
  background-color: yellow;
  text-align : center;
  padding : 50%;
}
#bio{
  text-align : left;
}
.img p{
  padding : 0.25rem;
}
.figure{
  margin-top : 1rem;
  margin-bottom : 1rem;
  padding : 1rem;
}
blockquote q{
  padding : 5%;
}
blockquote{
  border : 0.5rem solid rgb(71, 49, 0);
  box-shadow: 10px 10px 8px black;
}


#absolute-path-image img{
  width : 15rem;
  height : 15rem;
  border : 1rem solid rgb(0, 0, 255);
  border-radius : 1rem;
  
}
#absolute-path-image figcaption{
  color: rgb(0, 0, 255);
  
}
#absolute-path-image{
  background: hsla(0, 100%, 100%, 1);
}
#relative-path-image img{
  width : 15rem;
  height : 15rem;
  border : 1rem solid rgb(71, 49, 0);
  border-radius : 1rem;
  
}
#relative-path-image figcaption{
  color : rgb(71, 49, 0);
  
}
#relative-path-image{
  background: hsla(0, 100%, 100%, 1);
}
/* Part 2*/
nav{
  background-color: yellow;
  padding: 1rem 1rem 2rem 1rem;
  margin: 1rem;
  text-align: center;
}

nav ul li{
    list-style-type: none;
    border: 0.1rem solid brown;
    background-color: white;
}

nav ul{
  padding: 0.5rem;
  margin: 0 0.5rem;
}

nav ul li a{
    color: brown;
    text-decoration: none;
    font : normal normal bold 30px/1.5 Arial
}
nav ul li a:hover{
  color: white;
  background-color: purple;
  border: 0.1rem solid white;
}
#home-link{
  width: 50;
  float: left;
}
#contact-link{
  width: 50;
  float: right;
}
main #Bio2{
  width: 50%;
  float:left;
  text-align: center;
}
#Pics2{
  width: 50%;
  float:right;
  text-align: center;
}
main{
  width: 66%;
  float: left;
}
aside{
  border: 1rem solid Yellow;
  width: 30%;
  float: right;
  text-align: center;
}
#quo{
  clear: both;
}
footer{
  clear: both;
}
aside, h3{
  color: purple;
  font: small-caps bold;
}
table, th{
  text-align: center;
  font-weight: bold; 
  font-style: italic;
  font-variant: small-caps;
  border: 0.1rem solid black;
}
aside h3{
  background-color: yellow;
}

aside li{
  list-style-type: none;
  text-decoration: none;
  line-height: 3rem;
}
aside li:hover{
  color: white;
  background-color: yellow;
  border: 0.1rem solid white;
}

fieldset{
  background-color: yellow;
  padding: 0.25rem;
  margin: 0.25rem;
}
label{
  color: purple;
  font-variant: small-caps;
  font-weight: bold;
}
input{
  width: 7rem;
  height: 1rem;
  text-align: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

@media (max-width: 600px){
  html{
    font-size: 15px;
    clear: both;
    width: 100%;
    padding: 0.25rem;
    margin: 0.25rem;
    text-align: center;
  }
}
@media (max-width: 1200px){
  html{
    font-size: 20px;
    width: 100;
    padding: 0.25rem;
    margin: 0.25rem;
  }
}
@media (max-width: 900px){
  html{
    font-size: 17px;
    clear: both;
    width: 100;
    padding: 0.25rem;
    margin: 0.25rem;
  }
}

